﻿body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color:#104844;
}

#top {
    color: #6BB7B1;
}

#content {
    background-color:#305350;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #333333;
    padding: 12px;
    box-shadow: 0 1px 5px rgba(34, 34, 34, 0.4) inset, 0 0 20px rgba(34, 34, 34, 0.2) inset;
}

#content hr {
    border: 1px solid #6BB7B1;  
}

.top-comment {
    font-size: 18px;
}
.stuff-left {
    width: 50%;
    float: left;
}

.stuff-right {
    width: 50%;
    float: right;
}

.opaque {
    background-color:#104844;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    margin: 0 auto;
}

.message {
    color: #6BB7B1;
}

.message-year {
    font-size: 16px;
    padding: 0 6px 0 6px;
}

.ap-table {
    width: 100%;
    color: #6BB7B1;
    padding: 24px;
    border-collapse:collapse;
}

.ap-table td {   
    border: 3px solid #305350;    
}

.ap-table.border-bottom {
    border-bottom: 3px solid black;        
}

.ap-table-btn {
    background-color: #104844;
    border-radius: 3px;
    cursor: pointer;
}

.ap-table tr:nth-child(2n+1) {
    /*background-color: #777777;*/    
}

.ap-table-10 {
    width: 10%;
}

.ap-table-80 {
    width: 80%;
}

.ap-table-align-right {
    text-align: right;
}

.ap-table-align-left {
    text-align: left;
}

.ap-table-bar {
    background-color: #333333;
}

.data-error {
     color: #6BB7B1;
}